<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Vue JS Part1</title>
</head>
<body>

<div id="app">
    <input type="" v-model="name">
    <p>{{name}}</p>
    <h1>{{title}}</h1>
    <p>{{sayHello()}}</p>

    <a :href="link">Cat</a>
    <div v-html="completeElement">{{completeElement}}</div>
    <button @click="increase">{{counter}}</button>
    <button @click="increase2(2)">{{counter2}} step +2</button>
    <button @click="increase3($event)">event(console)</button>
    <p @mousemove="getCoordinates($event)">Coordinates(x: {{x}}/ y: {{y}})
        <span @mousemove.stop>Don't catch coordinates</span>
    </p>

    <button @click="counter++">Increase</button>
    <button @click="counter--">Decrease</button>
    <button @click="secondCounter++">Increase second counter</button>
    <p>Counter: {{counter}} | {{secondCounter}}</p>
    <p>Result: {{methodResult()}} | {{computedResult}}</p>

    <div
            class="block"
            :class="{red: isRed, pink: !isRed}"
            @click="isRed = !isRed">

    </div>
    <input type="text" v-model="width">
    <input type="text" v-model="color">
     <div
             class="box"
             :style="myStyle"
     ></div>

    <div @click="isRed = !isRed">
        <h3 v-if="isRed">Hi</h3>
        <h3 v-else-if="!isRed">Bye</h3>
    </div>
    <div @click="show = !show">
        <h3 v-show="show">Hi</h3>

    </div>

    <div class="products">
        <div class="product" v-for="product of products" :key="product.id">
            <div class="box-img"></div>
            <div>
                <p>{{product.title}}</p>
                <p>{{product.price}}</p>
            </div>
        </div>
    </div>
</div>

<script src="event.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data:{
            width: 100,
            color: '#ccc',
            isRed: false,
            secondCounter: 0,
            x: 0,
            y: 0,
            products:[
                {id: 1, title: 'Notebook', price: 1000},
                {id: 2, title: 'Mouse', price: 100},
                {id: 3, title: 'Keyboard', price: 250},
                {id: 4, title: 'Gamepad', price: 150},
            ],
            show: true,
            counter: 0,
            counter2: 0,
            name: '',
            title: "Hello, Vue",
            link: 'https://en.wikipedia.org/wiki/Cat',
            completeElement: `<span>i'm new element</span>`
        },
        methods:{
            sayHello(){
                setTimeout(() => {
                    this.title = 'Changed'
                }, 2000)
                return this.title
            },
            increase(){
                this.counter++
            },
            increase2(step){
                this.counter2 += step
            },
            increase3(event){
                console.log(event)
            },
            getCoordinates(event){
                this.x = event.clientX
                this.y = event.clientY
            },
            methodResult(){
                console.log('method')
                return this.counter > 5 ? 'Greater than 5' : 'Less than 5'
            }
        },
        computed:{
            computedResult(){
                console.log('computed')
                return this.counter > 5 ? 'Greater than 5' : 'Less than 5'
            },
            myStyle(){
                return{
                    backgroundColor: `${this.color}`,
                    height: `${this.width}px`,
                    width: `${this.width}px`,
                }
            }
        }
    })
</script>
</body>
</html>