*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block{
    height: 150px;
    width: 200px;
    background-color: gray;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px;
}
.header{
    background: palevioletred;
}
.position{
    display: flex;
    justify-content: space-between;
}